.content {
  &__img {
    width: 600px;
    border-radius: var(--p-18);
    display: block;
    margin: 32px auto 0 auto;
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;

    img {
      width: 600px;
      border-radius: var(--p-18);
      display: block;
      margin-top: 32px;
    }

    &-title {
      font-size: 22px;
      font-weight: 700;
      margin: 32px 0 12px 0;
      color: var(--color-bg);
    }

    &-subtitle {
      font-size: 14px;
      padding-bottom: 22px;
      max-width: 500px;
      color: var(--color-bg);
    }
  }

  &__about_btns {
    display: flex;
    gap: 22px;

    &-btn {
      @include btnAll;

      &:nth-child(1) {
        @include btn-1;
      }

      &:nth-child(2) {
        @include btn-2;
      }
    }
  }
}
