@mixin btnAll {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: 14px 32px;
  border-radius: 8px;
  transition: 0.1s;

  @media (max-width: 768px) {
    padding: 14px 26px;
    font-size: 14px;
  }

  @media (max-width: 660px) {
    padding: 10px 14px;
    font-size: 14px;
  }
}

@mixin btn-1 {
  background-color: var(--btn-1);

  &:hover {
    background-color: var(--btn-1Hover);
  }

  &:active {
    transform: translateY(2px);
  }
}

@mixin btn-2 {
  background-color: var(--btn-2);

  &:hover {
    background-color: var(--btn-2Hover);
  }

  &:active {
    transform: translateY(2px);
  }
}

.content {
  background-color: #fff;

  &__title {
    color: var(--blue-01);
    padding: var(--p-18);
    border-bottom: 1px solid var(--blue-01);
    margin-bottom: 40px;
  }

  &__inner {
    max-width: 872px;
    margin: 0 auto;
  }
}
