:root {
  --color-bg: #000b1a;
  --btn-1: #2ab69e;
  --btn-1Hover: rgb(23, 163, 140);
  --btn-2: #d01918;
  --btn-2Hover: #ac0d0d;
  --black-1: #000;
  --blue-01: #001628;

  --color-1: #e8dcba;
  --color-2: #01132d;
  --color-3: #c63085;
  --color-4: #c7312c;
  --color-5: #03011b;
  --color-6: rgb(29, 8, 30);
  --color-7: #425767;
  --color-8: #ebebeb;

  --p-18: 24px;

  --font-p: "Poppins", sans-serif;

  --uppercase: uppercase;
}
